## Numpy Arrays

In [2]:
import numpy as np

height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]


np_height = np.array(height)
np_weight = np.array(weight)

In [3]:
print(type(np_height))

<class 'numpy.ndarray'>

In [4]:
bmi = np_weight/np_height ** 2
print(bmi)

[23.34925219 27.88755755 28.75558507 25.48723993 23.87257618 25.84368152]

In [5]:
bmi > 23
bmi[bmi>23]

array([23.34925219, 27.88755755, 28.75558507, 25.48723993, 23.87257618,
       25.84368152])

Exercise

In [6]:
weight_kg = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

np_weight_kg = np.array(weight_kg)

np_weight_lbs = np_weight_kg*2.2
print(np_weight_lbs)

[179.63  214.544 209.55  204.556 189.596 194.59 ]

## Panda Basics

In [8]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd

brics = pd.DataFrame(dict)

print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [9]:
brics.index = ["BR","RU","IN","CH","SA"]
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [10]:
import pandas as pd

cars = pd.read_csv('cars.csv')
print(cars)

    Unnamed: 0  cars_per_cap        country  drives_right
NaN         US           809  United States          True
NaN        AUS           731      Australia         False
NaN        JAP           588          Japan         False
NaN         IN            18          India         False
NaN         RU           200         Russia          True
NaN        MOR            70        Morocco          True
NaN         EG            45          Egypt          True

In [22]:
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 1)

print(cars['cars_per_cap'])

print(cars[['cars_per_cap']])

print(cars[['cars_per_cap', 'country']])

US     809
AUS    731
JAP    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64
     cars_per_cap
US            809
AUS           731
JAP           588
IN             18
RU            200
MOR            70
EG             45
     cars_per_cap        country
US            809  United States
AUS           731      Australia
JAP           588          Japan
IN             18          India
RU            200         Russia
MOR            70        Morocco
EG             45          Egypt

In [32]:
cars = pd.read_csv('cars.csv',index_col=1)

print(cars[0:4])

print(cars[4:6])

     Unnamed: 0  cars_per_cap        country  drives_right
US          NaN           809  United States          True
AUS         NaN           731      Australia         False
JAP         NaN           588          Japan         False
IN          NaN            18          India         False
     Unnamed: 0  cars_per_cap  country  drives_right
RU          NaN           200   Russia          True
MOR         NaN            70  Morocco          True

In [34]:
cars = pd.read_csv('cars.csv',index_col=1)

print(cars.iloc[2])

print(cars.loc[['AUS','EG']])

Unnamed: 0        NaN
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
     Unnamed: 0  cars_per_cap    country  drives_right
AUS         NaN           731  Australia         False
EG          NaN            45      Egypt          True